---
import BirthdayCake from "../components/BirthdayCake.tsx";
import BirthdayExperience from "../components/BirthdayExperience.tsx";

const photos: string[] = [
  "IMG_0005.jpg",
  "IMG_0009.jpg",
  "IMG_0033.jpg",
  "IMG_0218.jpg",
  "IMG_0243.jpg",
  "IMG_0400.jpg",
  "IMG_0434.jpg",
  "IMG_0440.jpg",
  "IMG_0517.jpg",
  "IMG_0561.jpg",
  "IMG_0585.jpg",
  "IMG_0596.jpg",
  "IMG_0601.jpg",
  "IMG_0627.jpg",
  "IMG_0712.JPG",
  "IMG_0729.jpg",
  "IMG_0829.jpg",
  "IMG_0830.jpg",
  "IMG_0849.jpg",
  "IMG_0890.JPG",
  "IMG_0895.JPG",
  "IMG_0903.JPG",
  "IMG_1011.jpg",
  "IMG_1046.JPG",
  "IMG_1153.jpg",
  "IMG_1268.jpg",
  "IMG_1347.jpg",
  "IMG_1362.jpg",
  "IMG_1377.JPG",
  "IMG_1401.jpg",
  "IMG_1495.jpg",
  "IMG_1706.jpg",
  "IMG_1727.jpg",
  "IMG_1730.jpg",
  "IMG_1740.JPG",
  "IMG_1749.jpg",
  "IMG_1752.jpg",
  "IMG_1770.jpg",
  "IMG_1774.jpg",
  "IMG_1812.JPG",
  "IMG_1874.JPG",
  "IMG_1901.JPG",
  "IMG_1909.JPG",
  "IMG_1919.JPG",
  "IMG_1932.JPG",
  "IMG_1953.JPG",
  "IMG_2110.jpg",
  "IMG_2221.jpg",
  "IMG_2237.jpg",
  "IMG_2254.jpg",
  "IMG_2273.jpg",
  "IMG_2320.jpg",
  "IMG_2394.jpg",
  "IMG_2538.jpg",
  "IMG_2701.JPG",
  "IMG_2868.JPG",
  "IMG_3107.jpg",
  "IMG_3132.jpg",
  "IMG_3215.jpg",
  "IMG_3294.jpg",
  "IMG_3307.jpg",
  "IMG_3627.jpg",
  "IMG_3849.jpg",
  "IMG_3934.jpg",
  "IMG_4110.jpg",
  "IMG_4210.JPG",
  "IMG_4292.JPG",
  "IMG_4306.JPG",
  "IMG_4579.jpg",
  "IMG_4612.JPG",
  "IMG_4910.jpg",
  "IMG_4923.PNG",
  "IMG_4985.jpg",
  "IMG_4990.jpg",
  "IMG_5050.jpg",
  "IMG_5174.jpg",
  "IMG_5257.jpg",
  "IMG_5312.jpg",
  "IMG_5356.jpg",
  "IMG_5403.jpg",
  "IMG_5417.jpg",
  "IMG_5419.jpg",
  "IMG_5448.jpg",
  "IMG_5451.JPG",
  "IMG_5453.jpg",
  "IMG_5517.PNG",
  "IMG_5654.jpg",
  "IMG_5668.jpg",
  "IMG_5774.jpg",
  "IMG_5831.jpg",
  "IMG_5876.jpg",
  "IMG_5967.jpg",
  "IMG_6054.jpg",
  "IMG_6377.jpg",
  "IMG_6749.jpg",
  "IMG_6848.jpg",
  "IMG_6878.jpg",
  "IMG_6999.jpg",
  "IMG_7330.jpg",
  "IMG_7489.jpg",
  "IMG_7524.JPG",
  "IMG_7530.jpg",
  "IMG_7588.jpg",
  "IMG_7759.jpg",
  "IMG_7894.jpg",
  "IMG_8082.jpg",
  "IMG_8264.jpg",
  "IMG_8304.jpg",
  "IMG_8458.jpg",
  "IMG_8459.JPG",
  "IMG_8574.jpg",
  "IMG_8596.jpg",
  "IMG_8617.jpg",
  "IMG_8622.jpg",
  "IMG_8645.jpg",
  "IMG_8703.jpg",
  "IMG_8872.jpg",
  "IMG_8976.jpg",
  "IMG_9030.JPG",
  "IMG_9064.jpg",
  "IMG_9071.jpg",
  "IMG_9150.jpg",
  "IMG_9151.jpg",
  "IMG_9185.jpg",
  "IMG_9230.JPG",
  "IMG_9317.jpg",
  "IMG_9404.jpg",
  "IMG_9520.jpg",
  "IMG_9575.JPG",
  "IMG_9622.JPG",
  "IMG_9656.JPG",
  "IMG_9758.jpg",
  "IMG_9763.jpg",
  "IMG_9771.JPG",
  "IMG_9788.jpg",
  "IMG_9900.jpg",
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Happy Birthday!</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    {
      /* BirthdayCake is hidden while the photo gallery is shown — uncomment to restore */
    }
    {/* <BirthdayCake client:load /> */}
    <BirthdayExperience photos={photos} client:load />
  </body>
</html>
